# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
out/
packages/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# OS
Thumbs.db

# Canary Builds
canary/

# Sensitive Assets (NSFW/Copyright)
src/assets/bgNSFW*
src/assets/video_newgame.mp4
src/assets/*.mp4
src/assets/bgSFWNIGHT.png
src/assets/bgsfwDAY.png
src/assets/Continue Screen.png
